@import "./variables.scss";

.Intro{
    position: relative;
    color: $white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 150px;
    overflow: hidden;
    
    @media (min-width: $breakpoint-tablet) {
        padding: 150px 10px;
    }

    .introWrap{
        background-color: $black;
        padding: $grid-gutter;
        width: 100%;
        max-width: 600px;
    }
    

    h2{
        margin-top: 0;
        line-height: 1.2em;
    }

    .flag{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
        
        @media (min-width: $breakpoint-tablet) {
            bottom: auto;
            top: 0;
        }
    }

    .phone{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 200px;
        
        @media (min-width: $breakpoint-tablet) {
            right: $grid-gutter;
            height: 40%;
        }
    }
}