@import './variables.scss';

.Results{
    text-align: left;
    padding: calc($grid-gutter / 2) 0;
    flex: 1;
    
    @media (min-width: $breakpoint-tablet) {
        padding: $grid-gutter 0;

    }
    
    .result-wrap{
        
        @media (min-width: $breakpoint-tablet) {
            display: flex;
            justify-content: space-between;
        }
        
        .result-content{
            margin-bottom: $grid-gutter;
            max-width: 500px;

            @media (min-width: $breakpoint-tablet) {
                margin-right: $grid-gutter;
            }

            h4{
                text-transform: uppercase;
                margin-bottom: 0;
                font-weight: 400;
            }
            
            h2{
                margin: 0;
            }
            
            h3{
                margin-top: 0;
                font-weight: 400;
            }

            .intro{
                margin-bottom: calc($grid-gutter / 2);
            }
        }
        
        .result-social{
            display: flex;
            flex-flow: row wrap;

            h3{
                width: 100%;
                font-size: .8em;
                text-transform: uppercase;
                margin-top: 0;
                font-weight: 400;
            }

            button{
                display: block;
                flex: 0 0 45%;
                min-width: 0;
                
                .button{
                    width: 70%;
                    min-width: 0;
                }
            }

            @media (min-width: $breakpoint-tablet) {
                display: block;

                button{
                    width: 100%;
                }
            }
        }
    }

    .chart{
        margin-top: $grid-gutter;
        overflow: hidden;

        img{
            width: 145%;
            margin-left: -8%;
            
            @media (min-width: $breakpoint-tablet) {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}