@import "./variables.scss";

.Slide{
    padding: $grid-gutter;
    display: none;
    background-color: $lightblue;
    min-height: 100%;
    overflow: hidden;

    h2{
        margin-bottom: $grid-gutter;
    }

    &.active{
        display: block;
    }

    .progress{
        text-align: left;
        margin-bottom: calc($grid-gutter / 2);

    .progressBar{
        background-color: $white;
        height: 5px;
        width: 100%;
        position: relative;
        background-color: $lightgrey;
        margin-bottom: 10px;

        .progressBarInner{
            transition: 1s;
            position: absolute;
            left: 0;
            top: 0;
            background-color: $black;
            height: 100%;
        }
    }
    }

    .slide-core{
        animation-duration: .5s;
        animation-fill-mode: forwards;  
        animation-timing-function: ease-in-out;
        
        &.leaving-next{
            animation-name: slideoutLeft;
        }
        
        &.coming-next{
            animation-name: slideinRight;
        }
        
        &.leaving-prev{
            animation-name: slideoutRight;
        }
        
        &.coming-prev{
            animation-name: slideinLeft;
        }
    }

    .slideFooter{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        margin: $grid-gutter auto 0;

        button{
            transition: .25s;

            &.disabled{
                opacity: .5;
            }
        }

        .previous{
            background: transparent;
            color: $grey;
            padding: 0;
            font-size: .8em;
            transition: .25s;

            &:hover{
                color: $black;
            }
        }
    }

    .Question{
        margin-bottom: calc($grid-gutter / 2);

        h2{
            font-size: 1.3em;
            margin-bottom: 10px;
            max-width: 500px;
            margin: 0 auto 50px;
        }

        p{
            margin-top: 0;
        }

        .options{
            display: flex;
            justify-content: space-between;

            .option{
                flex: 0 0 300px;
                text-align: left;

                &:last-child{
                    text-align: right;
                }
            }
        }
    }

    .answers{
        display: flex;
        margin-top: calc($grid-gutter / 2);
        justify-content: space-between;

        .Answer{
            flex: 1;
            background-color: $white;
            padding: 15px 10px;
            margin: 5px;
            cursor: pointer;
            transition: .25s;

            &:hover{
                background: beige;
            }
            
            &.selected{
                background: green;
                color: $white; 
            }
        }
    }
}

@keyframes slideoutLeft {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(-500px);
      opacity: 0;
    }
  }

@keyframes slideoutRight {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(500px);
      opacity: 0;
    }
  }


@keyframes slideinRight {
    from {
        transform: translateX(500px);
        opacity: 0;
    }
    
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideinLeft {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    
    to {
        transform: translateX(0%);
        opacity: 1;
    }
  }