@import "./variables.scss";

.Slide{
    padding: $grid-gutter;
    display: none;
    background-color: $lightblue;
    min-height: 100%;

    &.active{
        display: block;
    }

    .progress{
        text-align: left;
        margin-bottom: $grid-gutter / 2;

    .progressBar{
        background-color: $white;
        height: 5px;
        width: 100%;
        position: relative;
        background-color: $lightgrey;
        margin-bottom: 10px;

        .progressBarInner{
            position: absolute;
            left: 0;
            top: 0;
            background-color: $black;
            height: 100%;
        }
    }
    }

    .slideFooter{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        margin: $grid-gutter auto 0;

        button{
            margin-bottom: 10px;
            transition: .25s;

            &.disabled{
                opacity: .5;
            }
        }

        a{
            color: $grey;
            text-decoration: none;
        }
    }

    .Question{
        margin-bottom: $grid-gutter / 2;

        h2{
            font-size: 1.3em;
            margin-bottom: 10px;
            max-width: 500px;
            margin: 0 auto 50px;
        }

        p{
            margin-top: 0;
        }

        .options{
            display: flex;
            justify-content: space-between;

            .option{
                flex: 0 0 300px;
                text-align: left;

                &:last-child{
                    text-align: right;
                }
            }
        }
    }

    .answers{
        display: flex;
        margin-top: $grid-gutter / 2;
        justify-content: space-between;

        .Answer{
            flex: 1;
            background-color: $white;
            padding: 15px 10px;
            margin: 5px;
            cursor: pointer;
            transition: .25s;

            &:hover{
                background: beige;
            }
            
            &.selected{
                background: green;
                color: $white; 
            }
        }
    }
}